.table th, .table td {
    vertical-align: 0;
}
.table {
    width: 90%;
}
.table-users {
    align-items: center;
    justify-content: center;
    display: flex;
}
/*button {*/
/*    border-radius: 10%;*/
/*}*/
#buttonUserInfo{
    color: #0049e8;
    border: solid 2px #0049e8;
    background-color: white;
}
#buttonUserInfo:hover{
    background-color: #0049e8;
    color: white;
}