.table th, .table td {
    vertical-align: 0;
}
.table {
    width: 90%;
}
.table-users {
    align-items: center;
    justify-content: center;
    display: flex;
}
/*button {*/
/*    border-radius: 10%;*/
/*}*/